@import "./global/variables";
@import "./mixins/mixins";
@import "./global/normalize";

.app {
  height: 100%;
  background: linear-gradient(to bottom, $gray-700 20px, $gray-600 10%);
  .main {
    width: 100%;
    height: 100%;
    position: relative;
    padding-top: 72px;
    &__row {
      height: 100%;
        width: 100%;
        @include flex(center, center, column);
        .main__logo {
          width: 126px;
          height: 48px;
          margin-bottom: 3%;
        }
        .main__search {
          @include flex(center, center, row);
          width: 100%;
          gap: 8px;
          margin-bottom: 65px;
          &-input {
            width: 41%;
            input {
              width: 100%;
              @include font($main-font, 16, 400);
              color: $gray-300;
              padding: 16px;
              border-radius: 8px;
              border: 1px solid var(--gray-700, #0D0D0D);
              background: var(--gray-500, #262626);
              &:focus {
                outline: none
              }
            }
          }
          &-btn {
            @include flex(center, center, row);
            @include font($main-font, 14, 700);
            color: $gray-100;
            padding: 16px;
            gap: 8px;
            border: none;
            border-radius: 8px;
            background: $blue-dark;
            transition: all 0.3s;
            &:hover {
              background-color: $blue
            }
          }
        }
        .main__todos {
          width: 100%;
          @include flex(center, center, column);
          gap: 12px;
          .main__todo {
            width: 45%;
            @include flex(flex-start, space-between, row);
            border-radius: 8px;
            border: 1px solid $gray-400;
            padding: 16px;
            background: $gray-500;
            box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.06);
            &-checkbox {
              width: 24px;
              height: 24px;
              accent-color: $blue;
              background-color: $blue;
              border-radius: 50%;
            }
            &-text {
              width: 80%;
              @include font($main-font, 14, 400);
              line-height: 140%;
              color: $gray-100;
              &.active {
                text-decoration: line-through;
                color: $gray-300;
              }
            }
            &-edit {
              @include flex(center, center, row);
              @include font($main-font, 14, 700);
              color: $gray-100;
              padding: 5px;
              gap: 8px;
              border: none;
              border-radius: 2px;
              background: $blue-dark;
              transition: all 0.3s;
              &:hover {
                background-color: $blue
              }
            }
            &-btn {
              width: 24px;
              height: 24px;
              background-color: transparent;
              border: none;
            }
          }
        }
      }
}
}